<div class="card-wrapper">
  <mat-card>
    <div class="d-flex" style="gap: 10px">
      <div class="pl-profile-image">
        <img class="w-100 h-auto" src='default-placeholder.png' (error)="utilitiesService.onImgError($event)"
             [title]="parkingLotData?.name"
             [alt]="parkingLotData?.name">
      </div>
      <div>
        <div class="mat-subheading-1">
          {{parkingLotData?.name}}
          <div class="d-flex align-items-center">
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <span class="mat-body-1 px-2">4 months ago</span>
          </div>
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus dolorum ea? Aspernatur
        dignissimos dolores ea eos,
      </p>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between align-items-center pt-1">
        <div class="d-flex align-items-center">
          <span *ngIf="parkingLotData?.amenities?.cctv" matTooltip="CCTV"><mat-icon>videocam</mat-icon></span>
          <span *ngIf="parkingLotData?.amenities?.secured" matTooltip="Secured"><mat-icon>lock</mat-icon></span>
          <span *ngIf="parkingLotData?.amenities?.twentyFourHourService" matTooltip="24 Hour Service"><mat-icon>history</mat-icon></span>
          <span *ngIf="parkingLotData?.amenities?.wheelChairEntrance" matTooltip="Accessible for disabled"><mat-icon>accessible</mat-icon></span>
        </div>
        <div class="mat-caption">
          <span>
          Price for
            {{parkingLotData?.minBookingDuration === 24 ? '1 Day' : parkingLotData?.minBookingDuration + ' Hours' }}
          </span>
          <div class="text-end">
            <span matPrefix>&#8377;&nbsp;</span>20
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
