<div class="card-wrapper">
  <mat-card>
    <div class="d-flex" style="gap: 10px">
      <div>
        //TODO: Image
      </div>
      <div>
        <div class="mat-subheading-1">
          {{parkingLotData?.name}}
          <div class="d-flex align-items-center">
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <mat-icon style="color: #fbbc05">star</mat-icon>
            <span class="mat-body-1 px-2">4 months ago</span>
          </div>
        </div>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus dolorum ea? Aspernatur
      dignissimos dolores ea eos,
    </p>
    <p>
  </mat-card>
</div>
