.mat-mdc-form-field {
  width: 300px;
}
::ng-deep.mat-datepicker-actions {
  padding: 0 !important;
  .custom-datepicker-actions {
    background: rgba(0, 0, 0, .04);
    .text {
      width: 120px;
    }
  }
}

.time-modal-trigger-button {
  cursor: pointer;
  padding: 5px 5px 5px 10px;
}

.cs-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
