.parking-lot-card-main {
  width: 400px;
  transition: transform .2s;

  &:hover {
    transform: scale(1.03);
    z-index: 100;
    position: relative;
  }

  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
