<div style="display: flex;justify-content: space-between;align-items: center">
  <div class="title">
    Confirm
  </div>
  <span>
    <mat-icon mat-dialog-close="true" role="button">close</mat-icon>
  </span>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div style="padding: 10px 0">
  Are you sure to delete this parking lot?
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close="true">No</button>
  <button mat-button color="primary" mat-dialog-close="true">Yes</button>
</mat-dialog-actions>
