<div class="reset-password-main d-flex justify-content-center align-items-center bg-light">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <div class="mat-body-1 pb-2">
      Please create a strong password.
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="w-100 py-4">
            <input formControlName="email" matInput placeholder="Email">
            <mat-error *ngIf="formGroup.controls['email'].errors?.required">
              Email is required.
            </mat-error>
            <mat-error *ngIf="formGroup.controls['email'].errors?.email">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="py-3 text-center">
          <button mat-raised-button class="w-100" color="primary" type="submit">Reset Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
