<div class="reset-password-main d-flex justify-content-center align-items-center bg-light">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <div class="mat-body-1 pb-2">
      Please create a strong password.
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="pt-4">
        <div>
          <mat-form-field class="w-100">
            <input formControlName="password" matInput placeholder="Password">
            <mat-error *ngIf="formGroup.controls['password'].errors?.required">
              Password is required.
            </mat-error>
            <mat-error *ngIf="formGroup.controls['password'].errors?.password">
              Please enter a valid password.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password">
            <mat-error *ngIf="formGroup.controls['confirmPassword'].errors?.required">
              Confirm Password is required.
            </mat-error>
            <mat-error *ngIf="formGroup.controls['confirmPassword'].errors?.notEqual">
              passwords does not match. Plz try again.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="py-1 pt-2 text-center">
          <button mat-raised-button class="w-100" color="primary" type="submit">Reset Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
