<app-toolbar></app-toolbar>
<mat-drawer-container #sideDrawer class="example-container">
  <mat-drawer class="side-drawer" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option [routerLink]="['/']">
        <mat-icon matListIcon>dashboard</mat-icon>
        <h3 matLine> Dashboard </h3>
      </mat-list-option>
      <mat-list-option [routerLink]="['/profile']">
        <mat-icon matListIcon>portrait</mat-icon>
        <h3 matLine>Profile</h3>
      </mat-list-option>
      <mat-list-option [routerLink]="['/parking-lot']">
        <mat-icon matListIcon>local_parking</mat-icon>
        <h3 matLine>Parking Lots</h3>
      </mat-list-option>
      <mat-list-option [routerLink]="['/bookings']">
        <mat-icon matListIcon>booking</mat-icon>
        <h3 matLine> Bookings </h3>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
