<app-header></app-header>
<app-search-bar></app-search-bar>
<div class="search-main container-fluid">
  <div class="row" style="height: calc(100vh - 193px);">
    <div class="col-md-3 search-result-sidebar" style="height: calc(100vh - 193px);" [ngClass]="{'expanded-pl-detail-window': isPLDetailWindowExpanded}">
      <div class="row position-relative bg-light h-100">
        <div class="col-md-12 pb-3" style="background: rgba(63, 81, 181, .10);">
          <div class="p-2 d-flex justify-content-between">
            <div>3 Parking Lots Found near DEST</div>
            <div>
              <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Sort By</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Price</button>
                <button mat-menu-item>Distance</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="parking-lot-cards-container py-2">
          <app-parking-lot-card
            *ngFor="let parkingLot of parkingLotList;let i = index"
            [parkingLotData]="parkingLot"
            (click)="showParkingLotDetails(parkingLot)">
          </app-parking-lot-card>
        </div>
      </div>
    </div>
    <div class="col p-0 position-relative">
      <mat-drawer-container class="w-100 h-100 position-absolute">
        <mat-drawer #drawer class="pl-detail-window" mode="side" [ngClass]="{'expanded-pl-detail-window': isPLDetailWindowExpanded}">
          <app-parking-lot-details
            (toggleExpandPLDetailWindow)="isPLDetailWindowExpanded = !isPLDetailWindowExpanded"
            (closePLDetailWindow)="drawer.close();isPLDetailWindowExpanded = false"
            [parkingLot]="selectedParkingLot">
          </app-parking-lot-details>
        </mat-drawer>
        <div #map class="google-map h-100"></div>
      </mat-drawer-container>
    </div>
  </div>
</div>
