<app-search-bar></app-search-bar>
<div class="search-main container-fluid">
  <div class="row" style="height: calc(100vh - 193px);">
    <div class="search-result-sidebar" style="height: calc(100vh - 193px);"
         [ngClass]="{'expanded-pl-detail-window': isPLDetailWindowExpanded}">
      <div class="row position-relative h-100">
        <div class="col-md-12 pb-3 border-bottom border-2">
          <div class="p-2 d-flex flex-column">
            <div class="availability-and-filters w-100">
              <span class="text-secondary">Parking Lots Found near </span>{{(searchData$ | async)?.destination}}
            </div>
            <div class="d-flex justify-content-between align-items-center pt-3">
              <div>
                {{parkingLotList.length}} Parking Lots Found
              </div>
              <div>
                <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Sort By</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="sortParkingLotsByPrice()">Price</button>
                  <button mat-menu-item (click)="sortParkingLotsByDistance()">Distance</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
        <div class="parking-lot-cards-container py-2">
          <app-parking-lot-card
            *ngFor="let parkingLot of parkingLotList;let i = index"
            [parkingLotData]="parkingLot"
            (click)="showParkingLotDetails(parkingLot)">
          </app-parking-lot-card>
        </div>
      </div>
    </div>
    <div class="col p-0 position-relative">
      <mat-drawer-container class="w-100 h-100 position-absolute border-start">
        <mat-drawer #drawer class="pl-detail-window" mode="side"
                    [ngClass]="{'expanded-pl-detail-window': isPLDetailWindowExpanded}">
          <app-parking-lot-details
            [searchData$]="searchData$"
            (toggleExpandPLDetailWindow)="isPLDetailWindowExpanded = !isPLDetailWindowExpanded"
            (closePLDetailWindow)="drawer.close();isPLDetailWindowExpanded = false"
            [parkingLot$]="selectedParkingLot$">
          </app-parking-lot-details>
        </mat-drawer>
        <div #map class="google-map h-100"></div>
      </mat-drawer-container>
    </div>
  </div>
</div>
