<div class="register-main container-fluid">
  <mat-card>
    <div class="card-title">
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-subtitle>Please fill up the form to create a business account.</mat-card-subtitle>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <mat-form-field class="w-50">
          <input formControlName="name" matInput placeholder="Name">
          <mat-error *ngIf="formGroup.controls['name'].hasError('required')">Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-50">
          <input formControlName="lastName" matInput placeholder="Last Name">
          <mat-error *ngIf="formGroup.controls['lastName'].hasError('required')">Last Name is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <input formControlName="email" matInput placeholder="Email">
          <mat-error *ngIf="formGroup.controls['email'].hasError('required')">Email is required.</mat-error>
          <mat-error *ngIf="formGroup.controls['email'].hasError('email')">Please enter a valid email.</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <input formControlName="mobile" mask="000-000-0000" matInput placeholder="Mobile">
          <mat-error *ngIf="formGroup.controls['mobile'].hasError('required')">Mobile is required.</mat-error>
          <mat-error *ngIf="formGroup.controls['mobile'].hasError('pattern')">
            Please enter a valid mobile number.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" matInput
                 placeholder="Password">
          <button type="button" matSuffix mat-icon-button (click)="isPasswordVisible = !isPasswordVisible">
            <mat-icon *ngIf="isPasswordVisible">visibility_off</mat-icon>
            <mat-icon *ngIf="!isPasswordVisible">visibility</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="d-flex justify-content-start align-items-center">
          <mat-checkbox class="d-inline">I accept the&nbsp;</mat-checkbox>
          <span class="d-inline"><a target="_blank" href="/terms-and-conditions">terms and conditions</a>.</span>
        </div>
      </div>
      <div style="text-align: center;margin-top: 15px">
        <button type="submit" mat-raised-button color="primary" [disabled]="isRegistering$ | async">
            <span style="display: flex;align-items: center;gap: 10px">
              <mat-spinner *ngIf="isRegistering$ | async" diameter="20"></mat-spinner>
              <span>{{(isRegistering$ | async) ? 'Registering ...' : 'Register'}}</span>
            </span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
