::ng-deep.gm-style .gm-style-iw-tc {
  top: -35px;
}
::ng-deep.gm-style .gm-style-iw-c {
  top: -35px;
}
::ng-deep.price-tag {
  font-size: 22px;
  background: #2C375A;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 5px;
  position: relative;
  &::after {
    content: "";
    height: 13px;
    width: 13px;
    background: #2C375A;
    position: absolute;
    top: 37px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
  }
}

.google-map {
  height: 300px;
  width: 300px;
}
