<div class="search-bar d-flex justify-content-center align-items-center" #searchBar>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="isFormReady$ | async"
        class="position-relative align-items-center d-flex justify-content-center pb-2 pt-4 px-4">
    <mat-form-field appearance="outline" style="width: 350px">
      <mat-label>Parking Destination</mat-label>
      <input matInput type="text" id="pac-input" formControlName="destination" autocomplete="off">
      <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="getCurrentLocation($event)">
        <mat-icon>my_location</mat-icon>
      </button>
    </mat-form-field>
    <app-custom-date-time-picker [formGroup]="formGroup" controlName="arrivalDateTime"></app-custom-date-time-picker>
    <app-custom-date-time-picker [formGroup]="formGroup" controlName="exitDateTime"></app-custom-date-time-picker>

    <!--    Vehicle Selection Panel Menu Start   -->

    <mat-form-field [ngClass]="{'d-block': isVehicleSelectionVisible, 'd-none': !isVehicleSelectionVisible}"
                    appearance="outline" class="position-relative" style="width: 110px">
      <mat-label>Vehicle</mat-label>
      <input matInput type="text" formControlName="vehicleType" autocomplete="off" style="display: none">
      <img src="../../../assets/images/car.svg" alt="" style="padding: 0 0 0 10px;">
      <button type="button" matSuffix mat-icon-button aria-label="Clear"
              [matMenuTriggerFor]="vehicleSelectionPanelMenu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <div></div>
      <mat-menu #vehicleSelectionPanelMenu="matMenu" class="vehicle-type-selection-panel-wrapper"  xPosition="before">
        <div class="text-center py-2">
          <span class="mat-title">Type of Vehicle</span>
        </div>
        <mat-divider></mat-divider>
        <div (click)="$event.stopPropagation();" class="d-flex flex-wrap vehicle-type-selection-panel p-2">
          <div *ngFor="let x of [0, 1, 2, 3]" class="p-4 vehicle-type">
            <button mat-stroked-button (click)="selectVehicleType()">
              <div class="d-flex justify-content-around align-items-center">
                <div>
                  <img src="../../../assets/images/car.svg" alt="">
                  <span class="px-2">Car</span>
                </div>
                <mat-icon [ngStyle]="{'color': x%2 === 0 ? 'green' : 'gray'}">check_circle</mat-icon>
              </div>
            </button>
            <div>
              <div class="text-center">Sample Text</div>
            </div>
          </div>
        </div>
      </mat-menu>
    </mat-form-field>

    <!--    Vehicle Selection Panel Menu End   -->

    <button mat-raised-button color="primary" class="submit-btn">SEARCH</button>
    <mat-error class="position-absolute bottom-0"
               *ngIf="formGroup.hasError('invalidDates')">{{formGroup.errors?.invalidDates}}</mat-error>
  </form>
</div>
