<div class="search-bar d-flex justify-content-center align-items-center" #searchBar>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="isFormReady$ | async"
        class="position-relative align-items-center d-flex justify-content-center pb-2 pt-4 px-4">
    <mat-form-field appearance="outline" style="width: 350px">
      <mat-label>Parking Destination</mat-label>
      <input matInput type="text" id="pac-input" formControlName="destination" autocomplete="off">
      <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="getCurrentLocation($event)">
        <mat-icon>my_location</mat-icon>
      </button>
    </mat-form-field>
    <app-custom-date-time-picker [formGroup]="formGroup" controlName="arrivalDateTime"></app-custom-date-time-picker>
    <app-custom-date-time-picker [formGroup]="formGroup" controlName="exitDateTime"></app-custom-date-time-picker>

    <!--    Vehicle Selection Panel Menu Start   -->

    <mat-form-field [ngClass]="{'d-block': isVehicleSelectionVisible, 'd-none': !isVehicleSelectionVisible}"
                    appearance="outline" class="position-relative" style="width: 115px;"
                    [matMenuTriggerFor]="vehicleSelectionPanelMenu">
      <mat-label>Vehicle</mat-label>
      <input matInput type="text" formControlName="vehicleType" autocomplete="off" style="display: none">
      <div class="d-flex justify-content-between align-items-center" style="padding-left: 10px;height: 25px;">
        <mat-icon style="font-size: 30px;width: 30px;line-height: .6;"
                  matPrefix *ngIf="selectedVehicleType.name === 'Bike'">two_wheeler
        </mat-icon>
        <mat-icon style="font-size: 30px;width: 30px;line-height: .6;"
                  matPrefix *ngIf="selectedVehicleType.name === 'Car'">directions_car
        </mat-icon>
        <span>{{selectedVehicleType.name}}</span>
        <span><mat-icon>expand_more</mat-icon></span>
      </div>
    </mat-form-field>
    <mat-menu #vehicleSelectionPanelMenu="matMenu" class="vehicle-type-selection-panel-wrapper" xPosition="before">
      <div class="text-center py-2">
        <span class="mat-title">Type of Vehicle</span>
      </div>
      <mat-divider></mat-divider>
      <div (click)="$event.stopPropagation();" class="d-flex flex-wrap vehicle-type-selection-panel p-2">
        <div *ngFor="let vehicle of vehicleTypesList" class="p-4 vehicle-type">
          <button mat-stroked-button (click)="selectVehicleType(vehicle)">
            <div class="d-flex justify-content-around align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <mat-icon style="font-size: 30px;width: 30px;line-height: .6;" *ngIf="vehicle.name === 'Bike'">two_wheeler</mat-icon>
                <mat-icon style="font-size: 30px;width: 30px;line-height: .6;" *ngIf="vehicle.name === 'Car'">directions_car</mat-icon>
                <span class="px-2">{{vehicle.name}}</span>
              </div>
              <mat-icon [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
            </div>
          </button>
          <div>
            <!--              <div class="text-center">Sample Text</div>-->
          </div>
        </div>
      </div>
    </mat-menu>

    <!--    Vehicle Selection Panel Menu End   -->

    <button mat-raised-button color="primary" class="submit-btn">SEARCH</button>
    <mat-error class="position-absolute bottom-0"
               *ngIf="formGroup.hasError('invalidDates')">{{formGroup.errors?.invalidDates}}</mat-error>
  </form>
</div>
