.search-bar {
  background: rgba(63, 81, 181, .10);

  form {
    gap: 10px;

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: white;
      border-radius: 5px;
    }

    .submit-btn {
      margin: 0 5px 20px 5px;
      padding: 5px 15px;
      font-size: 20px;
    }
  }
}

::ng-deep .pac-container.pac-logo {
  width: 348px !important;
  left: 404px !important;
  top: 172px !important;

  &::after {
    display: none;
  }
}
