form {
  gap: 10px;
  .submit-btn {
    margin: 0 5px 25px 5px;
    padding: 5px 15px;
    font-size: 20px;
  }
}

::ng-deep.mat-datepicker-actions {
  padding: 0 !important;
  .custom-datepicker-actions {
    background: rgba(0, 0, 0, .04);
    .text {
     width: 120px;
    }
  }
}

.time-modal-trigger-button {
  cursor: pointer;
  padding: 5px 5px 5px 10px;
}
