<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="isFormReady$ | async"
      class="d-flex justify-content-center align-items-center">
  <mat-form-field appearance="outline">
    <mat-label>Parking Destination</mat-label>
    <input matInput type="text" id="pac-input" formControlName="destination">
    <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="getCurrentLocation($event)">
      <mat-icon>my_location</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="picker" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="picker1" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1>
      <mat-datepicker-actions class="w-100" style="position: relative">
        <mat-selection-list *ngIf="isTimeVisible" class="time-picker" (scroll)="handleTimeScroll($event)"
                            [multiple]="false" #selectedTime>
          <mat-list-item class="icon-up time">
            <mat-icon>expand_less</mat-icon>
          </mat-list-item>
          <mat-list-option class="time" *ngFor="let time of timeSlotsArray">{{time}}</mat-list-option>

          <!--          <mat-list-option class="time">10:00</mat-list-option>-->
          <!--          <mat-list-option class="time">10:15</mat-list-option>-->
          <!--          <mat-list-option class="time">10:30</mat-list-option>-->
          <!--          <mat-list-option class="time">10:45</mat-list-option>-->
          <!--          <mat-list-option class="time">11:00</mat-list-option>-->
          <!--          <mat-list-option class="time">11:15</mat-list-option>-->
          <!--          <mat-list-option class="time">11:30</mat-list-option>-->
          <!--          <mat-list-option class="time">11:45</mat-list-option>-->
          <mat-list-item class="icon-down time">
            <mat-icon>expand_more</mat-icon>
          </mat-list-item>
        </mat-selection-list>
        <span class="time-modal-trigger-button border border-1 border-dark"
              (click)="isTimeVisible = !isTimeVisible"> 10:00</span>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary">SEARCH</button>
</form>

