<div class="ticket border rounded bg-white p-3">
  <p>SUMMARY</p>
  <div class="mb-2">
    <div class="fw-bold">{{(bookingData$ | async)?.parkingLot?.name}}</div>
    <div class="text-secondary">{{(bookingData$ | async)?.parkingLot?.address.addressLineOne + ', ' + (bookingData$ | async)?.parkingLot?.address.addressLineTwo }}</div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div>{{moment((searchData$ | async)?.exitDateTime).diff(moment((searchData$ | async)?.arrivalDateTime), 'hours')}} hours</div>
    <div>Rs. {{(bookingData$ | async)?.basePrice}}</div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div>Service Fee</div>
    <div>Rs. {{(bookingData$ | async)?.serviceFee}}</div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="mat-title d-flex justify-content-between align-items-center">
    <div>Total</div>
    <div>{{(bookingData$ | async)?.totalPrice }}</div>
  </div>
  <mat-divider class="mb-3"></mat-divider>
  <div>
    <div class="text-center mat-body">
      You can cancel/modify your ticker prior one hour the arrival time by navigating my bookings section in
      your profile.
    </div>
    <div class="d-flex justify-content-center align-items-center mat-body my-2">
      <mat-icon class="mx-2 fs-4">info</mat-icon>
      <a href="" target="_blank">View Cancellation policy</a>
    </div>
  </div>
  <div class="border border-1 rounded-3 px-3 py-2 position-relative">
    <div class="d-flex justify-content-between align-items-center py-1">
      <div class="d-flex flex-column">
        <span class="fw-bolder">Basic Car Park</span>
        <span class="text-secondary mat-body">One Time Pass</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-between align-items-center py-2" style="gap: 10px">
      <div>
        <div class="text-secondary mat-body">Arrival</div>
        <div class="d-flex mat-body" style="gap: 5px">
          <div>{{moment((searchData$ | async)?.arrivalDateTime).format('ddd, MMM Do')}}</div>
          <div class="fw-bolder">{{moment((searchData$ | async)?.arrivalDateTime).format('hh:mm a')}}</div>
        </div>
      </div>
      <mat-divider [vertical]="true" style="height:30px"></mat-divider>
      <div>
        <div class="text-secondary mat-body">Exit</div>
        <div class="d-flex mat-body" style="gap: 5px">
          <div>{{moment((searchData$ | async)?.exitDateTime).format('ddd, MMM Do')}}</div>
          <div class="fw-bolder">{{moment((searchData$ | async)?.exitDateTime).format('hh:mm a')}}</div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex flex-column pt-1">
      <div class="text-secondary mat-body">Vehicle</div>
      <div class="fw-bold mat-body">Car</div>
    </div>
  </div>

  <mat-expansion-panel [ngClass]="{'mat-expansion-panel': false}">
    <mat-expansion-panel-header class="px-2">
      <mat-panel-title>
        <div class="fw-bold">
          Car Park Amenities
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis cupiditate eaque enim
      necessitatibus neque nulla odio omnis, quas quisquam quo, recusandae sapiente sunt tempora tenetur totam
      voluptatem. Nostrum, soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis cupiditate eaque enim
      voluptatem. Nostrum, soluta!</p>
  </mat-expansion-panel>
</div>
