@import './../../../../assets/global-styles';

.mat-drawer {
  width: 200px;
  transition: width .5s;

  &.mat-drawer-collapsed {
    width: 60px;
    .link-name {
      display: none;
    }
  }

  .mat-list-base {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;

    &.active {
      background-color: fade-out($primary-color, .3);
      color: white;
    }
  }
}

.mat-drawer-content {
  &.mat-drawer-collapsed {
    transition: margin-left .5s;
    margin-left: 60px !important;
  }

  &.mat-drawer-expanded {
    transition: margin-left .5s;
    margin-left: 200px !important;
  }
}
