<div class="dashboard-card">
  <mat-grid-list cols="2" rowHeight="400px" gutterSize="20">
    <mat-grid-tile>
      <mat-card class="full-width">
        <mat-card-title>Users and Bookings</mat-card-title>
        <mat-card-content>
          <canvas #myChart1></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="full-width">
        <mat-card-title>Users and Bookings</mat-card-title>
        <mat-card-content>
          <div style="width: 310px;margin: 0 auto">
            <canvas #myChart2></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

