@import "../../../assets/global-styles";

.mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 18px;
  }
}

div {
  overflow: auto;
  max-height: 80vh;
  padding-right: 5px;
  @include custom-scrollbar;

  img {
    width: 100%;
  }
}
