.spinner-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.mat-card {
  margin-bottom: 20px;
}

.mat-card-title {
  font-size: 20px;
}

.form-fields-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.uploaded-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;

  div {
    width: 200px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    padding: 5px;
    border: 1px dashed #aaa;
    border-radius: 3px;
    background-size: cover;
    background-position: center;

    .icon-container {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000087;

      .delete-icon {
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .fullscreen-icon {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &:hover {
      .icon-container {
        display: flex;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.add-parking-spot {
  position: absolute;
  top: 10px;
  right: 10px;
}
