<div class="edit-parking-lot-main">
  <div class="spinner-container" *ngIf="!(isFormReady$| async)">
    <div>
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div>Loading Form ...</div>
  </div>
  <form *ngIf="(isFormReady$| async)" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-fields-container">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Parking Lot Name</mat-label>
          <input matInput autocomplete="nope" placeholder="Name" formControlName="parkingLotName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div>
      <input type="file" hidden #imageUpload>
      <div fxLayout fxLayoutGap="16px">
        <button mat-raised-button (click)="imageUpload.click()">Upload Images</button>
        <mat-icon matTooltip="Please upload a perfect pics only. These will be representing your Parking Lot."
                  matTooltipClass="upload-images-tooltip" matTooltipPosition="right">info
        </mat-icon>
      </div>
      <div class="uploaded-images">
        <div>
          <div class="delete-icon-container">
            <button mat-mini-fab color="warn" class="delete-icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
        <div>
          <div class="delete-icon-container">
            <button mat-mini-fab color="warn" class="delete-icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
        <div>
          <div class="delete-icon-container">
            <button mat-mini-fab color="warn" class="delete-icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
      </div>
    </div>
    <div style="display: flex;gap: 10px;margin: 10px 0;">
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add
      </button>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>clear</mat-icon>
        Cancel
      </button>
    </div>
  </form>
</div>
