<mat-card>
  <mat-card-header>Parking Ticket</mat-card-header>
  <mat-card-content>
    <mat-divider type=""></mat-divider>
    <div class="text-uppercase text-center py-2 fs-6" style="font-weight: 500">Paid Parking</div>
    <div class="timings">
      <div>From : Wed May 18 2022 23:20:51</div>
      <div>To : Wed May 18 2022 23:20:51</div>
    </div>
    <div class="fs-6 py-2 text-center" style="font-weight: 500">
      Vehicle No:. UP85 AS0699
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
