<mat-card class="p-2">
  <div style="display: flex;justify-content: space-between;align-items: center">
    <div class="title">
      Locate your Parking Lot on Map
    </div>
    <span>
    <mat-icon mat-dialog-close="true" role="button">close</mat-icon>
  </span>
  </div>
  <div class="pt-2 pb-3">
    <mat-divider></mat-divider>
  </div>
  <mat-dialog-content class="p-0">
    <div class="py-1 px-2">
      <div #map class="google-map"></div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="pt-2">
    <button mat-button color="primary" (click)="setCoordinates()">Save Coordinates</button>
    <button mat-button color="warn" mat-dialog-close="true">Close</button>
  </mat-dialog-actions>
</mat-card>
